@font-face {
  font-family: "iconfont"; /* Project id 4693713 */
  src: url('iconfont.woff2?t=1727161382266') format('woff2'),
       url('iconfont.woff?t=1727161382266') format('woff'),
       url('iconfont.ttf?t=1727161382266') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-gengduo:before {
  content: "\e601";
}

.icon-zhuanfa:before {
  content: "\e790";
}

.icon-quanbu:before {
  content: "\e664";
}

.icon-zhuye:before {
  content: "\e655";
}

.icon-shipin:before {
  content: "\e637";
}

.icon-biaoqing:before {
  content: "\e659";
}

.icon-haoyouquan:before {
  content: "\e613";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-shoucang:before {
  content: "\e641";
}

.icon-shipin1:before {
  content: "\e618";
}

.icon-huatifuhao:before {
  content: "\e8b0";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-icon_weibo_tag_ttwzh:before {
  content: "\e668";
}

.icon-tubiaozhuanqu-05:before {
  content: "\e646";
}

.icon-sixin:before {
  content: "\e635";
}

.icon-tebieguanzhu:before {
  content: "\e856";
}

