@font-face {
  font-family: "iconfont"; /* Project id 4694851 */
  src: url('iconfont.woff2?t=1727242333818') format('woff2'),
       url('iconfont.woff?t=1727242333818') format('woff'),
       url('iconfont.ttf?t=1727242333818') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ketanggonggao:before {
  content: "\e60c";
}

.icon-lishi:before {
  content: "\e63b";
}

.icon-huodong:before {
  content: "\e88d";
}

.icon-wodedahuiyuan:before {
  content: "\e6c3";
}

.icon-shoucang:before {
  content: "\eca7";
}

.icon-daochu:before {
  content: "\e6a5";
}

.icon-xiaoxi:before {
  content: "\e614";
}

.icon-zhuanlan:before {
  content: "\e6a9";
}

.icon-dongtai:before {
  content: "\e672";
}

.icon-xiazai:before {
  content: "\e616";
}

.icon-zhibo:before {
  content: "\e607";
}

.icon-xingerebang:before {
  content: "\e632";
}

.icon-chuangzuozhongxin:before {
  content: "\e6e4";
}

.icon-bilibili:before {
  content: "\e610";
}

